<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Digital Cars</title>
</head>
<%- include('./partials/header.ejs') %> 

<body>
        
            <form  class="create-form" method="POST" action="/admin/create" enctype="multipart/form-data">Crea tu producto
                    <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Modelo"  value=""></input>
                    <% if (locals.errors && errors.modelo) { %>
                        <p style = "color: red"><%- errors.modelo.msg  %></p>
                    <% } %>  
                    <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio"  value=""> </input>
                    <% if (locals.errors && errors.precio) { %>
                        <p style = "color: red"><%- errors.precio.msg  %></p>
                    <% } %>  
                    <input type="text" class="form-control" name="anio" id="anio" placeholder="anio"  value=""></input>
                    <% if (locals.errors && errors.anio) { %>
                        <p style = "color: red"><%- errors.anio.msg  %></p>
                    <% } %> 
                    <select name="color_id">
                        <option value="">Seleccione un color</option>
                    <%colores.forEach(color => {%>
                        <option value="<%= color.id_color%>"><%= color.color %></option>
                        <%})%>     
                    </select>
                    <% if (locals.errors && errors.color_id) { %>
                        <p style = "color: red"><%- errors.color_id.msg  %></p>
                    <% } %> 
                    <input  name="image" type="file"> </input>
                    <% if (locals.errors && errors.image) { %>
                    <p style = "color: red"><%- errors.image.msg  %></p>
                    <% } %> 
                    <select name="color_id" id="color_id">
                        <% if (locals.errors && errors.color) { %>
                            <p style = "color: red"><%- errors.color.msg  %></p>
                        <% } %> 
                        <option value="">Seleccione un color</option>
                    <% colores.forEach(color => {%>
                        <option value="<%= color.id_color%>"><%= color.color %></option>
                        <%})%>
                        
                </select>
                
                
                
            <button class="boton1" type="submit">Guardar</button>
    </form>
    <script src="/js/create.js"></script>
</body>








</html>