<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>

        <%- include('./partials/header.ejs') %> 

<body>
<section class="productos">
    <% products.forEach(function(product){ %>
        <% console.log(product) %>
        <article>
<<<<<<< HEAD
            <img src="/images/<%= product.foto %>" alt="Producto">
=======
            <img src="/images/<%= product.foto %>" alt="Producto A">
>>>>>>> d1f27a14d9d0076155fef3558cf84ecb47e6b460
            <a href="/productos/detalle/<%= product.id_auto %>"> <h3> BMW <%= product.modelo %> </h3> </a>
            <a href="/carrito"><button type="submit">AGREGAR AL CARRITO</button> </a>
            <a href="/admin/edit/<%= product.id_auto %>"><button>EDITAR</button> </a>
            <button type="submit">COMPRAR</button>
            <form method="POST" action="/productos/eliminar/<%=product.id_auto%>?_method=DELETE"> 
            <button>Eliminar</button>
            </form>
        </article>
    <% }) %>
    
</section>
</body>
 
    

<%- include('./partials/footer.ejs') %> 

</html>