<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Digital Cars</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %> 

    <main>
        <div class="create-formu-register">
            <form  method="POST"  action="/user/register"  enctype="multipart/form-data">
                <legend class="reg">Registrate</legend>
                <label for="name" > Nombre y Apellido: </label>
                <input class="nombre" type="text" name="nombre" id="name"></input>
                <% if (locals.errors && errors.nombre) { %>
                    <p style = "color: red"><%- errors.nombre.msg  %></p>
                <% } %>     
                <label for="user" > Email: </label>
                <input class="email" type="mail" name="email" id="user"></input>
                <% if (locals.errors && errors.email) { %>
                    <p style = "color: red"><%- errors.email.msg  %></p>
                <% } %>   
                <label for="fdn" > Fecha de nacimiento: </label>
                <input  type="date" name="fdn" id="fdn"></input>
                <% if (locals.errors && errors.fdn) { %>
                    <p style = "color: red"><%- errors.fdn.msg  %></p>
                <% } %>                   
                <label for="psw" > Contraseña: </label>
                <input type="password" name="contrasenia" id="contrasenia"></input>
                <% if (locals.errors && errors.contrasenia) { %>
                    <p style = "color: red"><%- errors.contrasenia.msg  %></p>
                <% } %>   
                <label for="image">Foto:</label>
                <input type="file" name="image" id="file" multiple>
                <% if (locals.errors && errors.image) { %>
                    <p style = "color: red"><%- errors.image.msg  %></p>
                <% } %>
                <input class ="boton1" type="submit" value="ENVIAR"></input>
                <input class ="boton2" type="reset" value="BORRAR"></input>
            </form>
        </div>
    </main>
    <script src="/js/register.js"></script>
</body>

    <%- include('./partials/footer.ejs') %> 

    

</html>